doctype html
html
    head
    body
         div
             | HELLO WORLD
         div
             block content
         div
             | Best regards
             br
             a(href="https://google.com") Visit our web site